* text=auto eol=lf

* text=auto eol=lf

*.blade.php linguist-language=HTML
*.vue linguist-language=JavaScript
*.css linguist-vendored
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
